---
interface Props {
  url?: string;
  title: string;
}

const { url, title } = Astro.props;
---

<li><a href={url} class="tag">{title}</a></li>

<style>
  html.dark a {
    color: #fff;
  }
</style>
