---
import Social from "./Social.astro";

const platform = "github";
const username = "bbtools-ps";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}
      target="_blank"
      rel="noopener noreferrer">{platform}</a
    >!
  </p>
  <div class="social">
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  html.dark a {
    color: #fff;
  }

  .social {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  @media screen and (max-width: 39em) {
    footer {
      flex-direction: column;
    }
  }
</style>
