---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
    <ThemeSwitcher />
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }
</style>
